# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/
.env/
env/


# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example


# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/
